name: Verify

on: [push, pull_request]

env:
  GO_VERSION: '1.17.x'

jobs:
  license-check:
    name: license boilerplate check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v2.4.0
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # v2.2.1
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Install addlicense
        run: go install github.com/google/addlicense@latest

      - name: Check license headers
        run: |
          set -e
          addlicense --check -ignore **/*.yml -ignore **/*.yaml -ignore Dockerfile  -l apache -c 'The Sigstore Authors' -v *

  golangci:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v2.4.0
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # v2.2.1
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@c675eb70db3aa26b496bc4e64da320480338d41b # v3
        timeout-minutes: 5
        with:
          version: v1.44.2
